h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  margin: 10px 0 20px;
}

.result-list {
  width: 50%;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(98, 0, 255, 0.62);
  border-radius: 4px;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .result-list {
    width: 90%;
    margin: 0 auto;
  }
}
